<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aguang.jinjuback.dao.JinjuDao">

    <insert id="createJinju">
        INSERT INTO jinju_db.jinju(user_id,content,type,create_time) VALUES(#{user_id},#{content},#{type},#{create_time});
    </insert>

    <select id="getJinju" resultType="com.aguang.jinjuback.pojo.Jinju">
        SELECT * FROM jinju_db.jinju WHERE jinju_id = #{id};
    </select>

    <select id="getJinjuList" resultType="com.aguang.jinjuback.pojo.Jinju">
        SELECT * FROM jinju_db.jinju LIMIT #{m},#{n};
    </select>

    <select id="getListCount" resultType="integer">
        SELECT COUNT(*) FROM jinju_db.jinju;
    </select>

</mapper>