<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aguang.jinjuback.dao.MeiwenDao">

    <!-- 创建金句 -->
    <insert id="createMeiwen">
        INSERT INTO
          jinju_db.meiwen(user_id,title,type,summary,cover_photo,content,browse_count,collect_count,comment_count,is_delete,create_time,update_time)
        VALUES(#{userId},#{title},#{type},#{summary},#{coverPhoto},#{content},
              #{browseCount},#{collectCount},#{commentCount},#{isDelete},#{createTime},#{updateTime});
    </insert>

    <!-- 获取美文的列表信息（用户已登录的情况） -->
    <select id="listByPageWithUserId" resultType="com.aguang.jinjuback.pojo.MeiwenInfo">
        SELECT
            m.id as meiwenId,
            m.type,
            m.title,
            m.summary,
            m.cover_photo,
            m.content,
            m.browse_count,
            m.collect_count,
            c.collect as is_collect,
            m.comment_count,
            m.create_time,
            m.update_time,
            u.user_id,
            u.username,
            u.photo_url
        FROM
          meiwen m
        LEFT JOIN jj_user u ON m.user_id = u.user_id
        LEFT JOIN mw_collect c ON m.id = c.meiwen_id
        AND c.user_id = #{userId}
        order by m.create_time desc

        LIMIT #{m},#{n}
    </select>

    <!-- 获取美文的列表信息（用户未登录的情况） -->
    <select id="listByPageWithoutUserId" resultType="com.aguang.jinjuback.pojo.MeiwenInfo">
        SELECT
            m.id as meiwenId,
            m.type,
            m.title,
            m.summary,
            m.cover_photo,
            m.content,
            m.browse_count,
            m.collect_count,
            m.comment_count,
            m.create_time,
            m.update_time,
            u.user_id,
            u.username,
            u.photo_url
        FROM
          meiwen m
        LEFT JOIN jj_user u ON m.user_id = u.user_id
        order by m.create_time desc

        LIMIT #{m},#{n}
    </select>

</mapper>