<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aguang.jinjuback.dao.UserDao">

   <!-- <insert id="createUser">
        INSERT INTO jinju_db.jj_user(username,password,create_time) VALUES(#{username},#{password},#{curTime});
    </insert>-->

    <!--<select id="getUser" resultType="com.aguang.jinjuback.pojo.UserInfo">
        SELECT * FROM jinju_db.jj_user WHERE user_id = #{id};
    </select>-->

    <!--<select id="getUserByUsername" resultType="com.aguang.jinjuback.pojo.UserInfo">
        SELECT user_id,username,password FROM jinju_db.jj_user WHERE username = #{username};
    </select>-->

    <!-- 更新用户信息 -->
    <update id="updateUser" parameterType="com.aguang.jinjuback.model.User">
        UPDATE
          jinju_db.jj_user
        SET
          username = #{username},
          tel = #{tel},
          email = #{email},
          addr_code = #{addrCode},
          addr_detail = #{addrDetail},
          update_time = #{updateTime}
        WHERE user_id = #{userId}
    </update>
</mapper>