<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aguang.jinjuback.dao.UserDao">

   <!-- <insert id="createUser">
        INSERT INTO jinju_db.jj_user(username,password,create_time) VALUES(#{username},#{password},#{curTime});
    </insert>-->

    <select id="getUserInfo" resultType="com.aguang.jinjuback.pojo.UserInfo">
        SELECT
            user_id,
            username,
            tel,
            email,
            photo_url,
            CONCAT(LEFT(addr_code, 2), '0000') AS province_code,
            CONCAT(LEFT(addr_code, 4), '00') AS city_code,
            addr_code AS county_code,
            addr_detail,
            create_time,
            last_login_time
        FROM
            jinju_db.jj_user
        WHERE user_id = #{id};
    </select>

    <!--<select id="getUserByUsername" resultType="com.aguang.jinjuback.pojo.UserInfo">
        SELECT user_id,username,password FROM jinju_db.jj_user WHERE username = #{username};
    </select>-->

    <!-- 更新用户信息 -->
    <update id="updateUser" parameterType="com.aguang.jinjuback.model.User">
        UPDATE
          jinju_db.jj_user
        SET
          username = #{username},
          tel = #{tel},
          email = #{email},
          addr_code = #{addrCode},
          addr_detail = #{addrDetail},
          update_time = #{updateTime}
        WHERE user_id = #{userId}
    </update>
</mapper>